
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizations</title>
</head>
<body>
    <h1>List of Visualizations</h1>
    <a href="/visualizer/confirmedplot">
        <button>
            View Confirmed Covid Data in India
        </button>
    </a>
</br>
    <a href="/visualizer/deceasedplot">
        <button>
            View Deceased Covid Data in India
        </button>
    </a>
</br>
    <a href="/visualizer/recoveredplot">
        <button>
            View Recovered Covid Data in India
        </button>
    </a>
</br>
    <a href="/visualizer/testedplot">
        <button>
            View Tested Covid Data in India
        </button>
    </a>
</body>
</html>